html {
  background: #d6c6b3;
  height: auto;
  width: auto;
}
.wrapper {
  padding-top: 50px;
  color: white;
  background: #d6c6b3;
  height: 200%;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
