.header {
    width: 100%;
    background-image: linear-gradient(#c25e37, #b94a1d);
    border-bottom: 3px solid #9e3d17;
    color: white;
    padding: 8px; 
    text-align: center;
    font-size: larger;
    font-weight: lighter;
    padding-bottom: 1%;
}